body{
  color: grey;
  margin: 0px; 
  font-family: karla;
}
section{
  height: 20vh;
  min-height: 20vh;
  padding: 50px 0px;
}
.container{ 
  margin: 0px 100px;
  overflow: hidden;
}

.job {
  color: #DB7979;
  font-size: 1.5em;
}

.l-spaced{
  justify-content: space-between;
}

.h-center{
  align-items: center; 
}

.l-center{
  align-items: center;
}

.flexbox{
  display: flex;
  flex-wrap: wrap;
 
  
  
  /* Pour le test */
 
  border: 2px;
}
.child-small{
  border: 2px dashed rgb(101, 88, 245);
  min-height: 20px;
  min-width: 20px;
}
.child-big{
  border: 2px dashed rgb(101, 88, 245);
  height: 50%;
  min-width: 250px;
  width: 40%;
}

.navbar{
  margin: 0px ;
  background-color: #FAE3D9;
  color: #DB7979;
  text-align: center;
  padding: 30px;
} 

.navbar a {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  text-decoration: none;
  font-weight: bold;
  color: #DB7979;
  margin: 0 30px;
  text-transform: uppercase;
  font-size: 1.25em;
}

.navbar a:hover {  
  color: #fff; 
}

.myProjects {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  text-decoration: none;
    background: #fff;
    padding: 20px;
    color: #DB7979;
    width: 150px;
    text-align: center;
  margin: 35px 0 0 0;
  font-size: 1.25em;
}

.tShadow {
  text-shadow: 1px 1px 2px black;
}

.myProjects:hover { 
    background: #DB7979; 
    color: #ffffff; 
}


#hero{
  height: 65vh;
  background-color: #FAE3D9
}

.I{
  color: white;
  font-size: 35px; 
}

.A{
  color: #DB7979;
  font-size: 20px;
}


#Bouton {
 color: #DB7979;
 width: 160px;
 height: 60px;
 font-size: 20px;
 border-radius: 10px;
 background-color: white;
}



  
#about {
   height: 40vh;
  background-color: white;
  color: black;
}
      
#Skill {
  height: 65vh; 
  background-color: #AACFCF;
  color: black;
  margin: Opx;
}

.skill-container{
  width: 45%;
  margin: 0 100px 0 0;
}
.skill-container-b{
  width: 20%;
}

.progress-container{
  margin: 7px 0px;
  background-color: #E6E6E6;
  height: 12px;
  width: 100%;
  border-radius: 8px;
}
.progress{
  height:12px;
  background-color: #FAE3D9;
  width: 50%;
  border-radius: 8px;
}

#Packoffice{
   height:12px;
  background-color: #DB7979;
  width: 80%;
  border-radius: 8px;
}

#Adobe{
   height:12px;
  background-color: #DB7979;
  width: 60%;
  border-radius: 8px;
}

#Figma{
   height:12px;
  background-color: #DB7979;
  width: 75%;
  border-radius: 8px;
}

#Codepen{
   height:12px;
  background-color: #DB7979;
  width: 60%;
  border-radius: 8px;
}

#Google{
   height:12px;
  background-color: #DB7979;
  width: 67%;
  border-radius: 8px;
}

#Rsociaux{
   height:12px;
  background-color: #DB7979;
  width: 90%;
  border-radius: 8px;
}

.Skilltext{
  font-size: 18px; 
  margin: 0;
}

#Spain{
   width: 30px;
  height: 30px;
}

#English{
  width: 30px;
  height: 30px;
}

.h-end { 
align-items: flex-end;
}

.h-start {
  align-items: flex-start;
}

.Moi {
  border-radius: 100px;
}

#cursus {
  height: 60vh; 
  color: black;
  background-color: white
}

#DC{
  width: 80px;
  height: 50px;  
}
.Pres {
  width: 70%;
  font-size: 1.05em;
}

.Graduate {
  width: 100%;
  margin-bottom: 10px; 
  font-size: 18px;
}

#Experiences {
      height: 80vh;
  background-color: #AACFCF;
  color: black
}

#Projets {
min-height: 50vh;
  color: black;
  background-color: white
}

#contact {
  height: 40vh;
  color: black;
  background-color: #AACFCF;
}

#contact a {
  text-decoration: none;
  color: black;
}

.Intro { 
}

#Titre {
  color: #536A6A; 
  font-size: 22px; 
  text-align: center;
}

.lang { 
    position: relative;
    top: 8px;
    margin: 0 10px 0 0;
}

#Soustitre {
  color: #536A6A; 
  font-size: 20px;
  text-align: left;
width: 25%;
    padding-right: 50px;
  text-align: right;
  
} 

.full-width {
  width: 100%; 
}

.DC {
  flex-direction: column;
  padding: 0px 120px 20px; 
}


.S{
 padding: 0px 100px 20px;
  
}

#Titrebis {
  color: #DB7979; 
  font-size: 22px;
  text-align: center;
    }

.Text{
  font-size: 18px;  
} 

.H{
width: 55%;
  display: flex;
  flex-direction: column; 
}



.P{
  width: 100%;
  height: 70px;
  
}

.cards {
  display: flex;
  grid-gap: 20px;
  width: 200px;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
  border: solid;
  border-color: #f0f0f0
}


.card {
  border-radius: 8px;
  width: 30%;
  background-color: #F9EEED;
  min-width: 250px;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.07);
    
  
}


.card-item { 
    text-align: center;
    background: #fff;
    padding: 20px;
}

.card img { 
      height: 150px;
  background-color: white;
  
}

.card p {
padding: 0px 12px;
    font-size: 15px;
    text-align: center;
 
}
   
.cards-container{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.content {
   display: flex; 
  font-size: 18px;
  height: 150px;
  width: 200px;
  background-color: #F9EEED;
   border-radius: 0px 0px 10px 10px;
  border: solid;
  border-color: #f0f0f0
}
 
.telmail{
  width: 50%;
  text-align:  center; 
  font-size: 18px
}

.rstransport {
  width: 50%;
  text-align:  center; 
  font-size: 18px
}


#gotop{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border-radius: 50%;
  color: #fff;
  background-color: #DB7979;
  opacity: .85;
  width: 4rem;
  height: 4rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  cursor: pointer;
  font-size: 1.8rem;
  transition: all .3s; 
  display: none;
} 

#gotop i {
  margin: 18px;
}

#gotop:hover{
    background-color: #ea5555;
  }
  
  #about{
    dispay: flex;
    flex-direction: column;
  }
  
  .Picture{
    height: 250px;
    width: 250px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 75px 0 0;
  }
  
  #Skill{
    height: 60vh;
    align-item: center
  }
  
  .skill-container .child, 
  .skill-container-b .child {
    font-size: 1.25em;
  } 
  
  #Experiences .Text b {
      margin: 0 0 0 0;
    display: block;
  }
  
  .cards{
    display-flex:flex;
    flex-direction: column;
  }
  
  .contact{
    display-flex:flex;
    flex-direction: column;
  }
  
  .wave {
  position: relative;
  height: 70px;
  width: 600px;
  background: #FAE3D9;
}

.wave:before {
        content: "";
        display: block;
        position: absolute;
        border-radius: 100% 50%;
        width: 340px;
    height: 80px;
    background-color: white;
    right: -5px;
    top: 40px;
}

.wave:after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 100% 50%;
        width: 300px;
    height: 70px;
    background-color: #FAE3D9;
    left: 0;
    top: 27px;
}
  
  
@media (max-width: 767px) {   
  /* Tout les propriÃ©tÃ©s ajoutÃ©es ici seront uniquement prise en compte sur mobile */
  .mobile-l-center{
    justify-content: center;
    
  }
  
  .desktop{
    display: none;
  }
  
  #about{
    min-height: 90vh;
  }
  
  #cursus {
    min-height: 180vh;
  }
  
  #Experiences{
    min-height: 160vh;
  
  }
  #Projets{
    min-height: 180vh;
    flex-direction: column; 
  }
  
  
  
  }
  
}

