body{
  color: grey;
  margin: 0px;
}
section{
  border: 2px dashed rgba(26, 174, 159, 0.2);
  height: 20vh;
  min-height: 20vh;
  padding: 50px 0px;
}
.container{
  margin: 0px 7%;
  height: 100%;
}
.l-spaced{
  justify-content: space-between;
}

.h-center{
  align-items: center; 
}

.l-center{
  align-items: center;
}

.flexbox{
  display: flex;
  flex-wrap: wrap;
  
  
  /* Pour le test */
  background-color: rgba(247, 195, 37, 0.56);
  border: 2px dashed rgb(247, 195, 37);
}
.child-small{
  border: 2px dashed rgb(101, 88, 245);
  min-height: 20px;
  min-width: 20px;
}
.child-big{
  border: 2px dashed rgb(101, 88, 245);
  height: 50%;
  min-width: 250px;
  width: 40%;
}


#hero{
  height: 65vh;
}
.navbar{
  margin: 0px 7%;
  background-color: #FAE3D9
}

.l-space{
   justify-content: space-between; 
}
  
#about {
   height: 65vh;
  background-color: white;
}
      
#skill {
  height: 65vh; 
}

.h-end { 
align-items: flex-end;
}

.h-start {
  align-items: flex-start;
}

.Moi {
  border-radius: 100px;
}

#cursus {
  height: 65vh; 
}

.Pres {
  width: 70%;
}

.Experiences {
  width: 20%;
 margin
  
}